:root{
    --soft-amber: #D5C6AC;
    --strong-amber: #CFC39C;
    --white: #FFFFFF;
    --black: #000000;
    --light-black: #252526;
    --grey: #909091;
    --green: #88aa6e;
    --font-soho: 'Soho';
    --amber-gradient: linear-gradient(90deg,#D4C7AD 0%, #CBBC9E 100%);
    --green-gradient: linear-gradient(90deg,#9eba8a 0%, #80a467 25%, #80a467 75%,#9eba8a 100%)
}