.hero{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    // padding-top: 196.85%; /* (img-height / img-width * container-width) *//* (1439 / 731 * 100) */
    aspect-ratio: 1439/730;
    position: relative;
    @include media("<=1200px"){
        background-size: cover;
        background-position: center;
        aspect-ratio: 1/0.7;
    }
    @include media("<=tablet"){
        background-size: cover;
        background-position: center;
        aspect-ratio: 731/1200;
    }
    @include media("<=phone"){

        aspect-ratio: 731/1500;
    }
   

    .inner-container{
        display: flex; 
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        padding-top: 2vw;
        padding-bottom: 5vw;
        color: var(--white);
    }
    &--title, &--subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &--title > p {
        font-size: 22px;
        font-weight: 700;
    }

    &--subtitle > p {
        font-size: 22px;
        max-width: 750px;
    }

    @media only screen and (max-width: 1230px) {
        &--title{
            h1{
                font-size: 50px;
            }
            > p {
                font-size: 18px;
                font-weight: 700;
            }
        }
    
        &--subtitle > p {
            font-size: 18px;
            max-width: 750px;
        }
    }

    @include media("<=tablet"){
        &--title{
            h1{
                padding-top: 10%;
            }
            > p {
                font-size: 14px;
                font-weight: 700;
            }
        }
    
        &--subtitle > p {
            font-size: 14px;
            max-width: 750px;
        }
    }
}

.hero-contact-mobile {
display: none;  

}

/* For mobile screens */
@media (max-width: 768px) {
    .hero-contact{
        display: none;
    }
    .hero-contact-mobile {
        display: block;
      background-image: url(var(--theme-link)+ '/dist/images/mob-banner.jpg') !important; 
      .hero--subtitle{
        p{
            margin-bottom: 30%;
        }
      }
    }
}