x 'Social Sharing Links', 'crowd') }}</a>
<a target='_blank' href='{{ share_links.twitter }}'>{{ _x('Twitter', 'Social Sharing Links', 'crowd') }}</a>
<a target='_blank' href='{{ share_links.whatsapp }}'>{{ _x('WhatsApp', 'Social Sharing Links', 'crowd') }}</a>