<div class="container-xl">
    <div class="header--inner">
        <a href="{{ site.link }}" id="header-logo">
            <img src="{{ options.site_logo.url }}">
        </a>

         <nav class="main-nav" id="header-navigation">
            <div class="main-nav--inner">
            
                {% include 'components/menu.twig' with {
                    menu: menu.get_items(),
                    css_class: 'main-navigation'
                } %}

                {% include 'components/menu.twig' with {
                    menu: footer_right_nav.get_items(),
                    css_class: 'sub-navigation'
                } %}

            </div>
        </nav>
        <button class="mobile-toggle-menu-btn" id="toggle-mobile-menu">
            <span class="off">{% do action('inline_file', theme.link ~ '/dist/images/icon-menu-bars.svg') %}</span>
            <span class="on">{% do action('inline_file', theme.link ~ '/dist/images/icon-menu-close.svg') %}</span>
        </button>
    <div>
</div>