<div class="two-col-block" style="background: url('{{ fields.background_image.url }}'); background-repeat: no-repeat; background-size: cover;">
    <div class="col">
        {{ fields.left_column }}
    </div>
    <div class="col">
        {{ fields.right_column }}
    </div>
</div>